@media all and (max-width: 600px){
    html{
        line-height: initial;
    }
    .main {
        flex-direction: column-reverse;
    }
    .presentation, .activites{
        grid-template-columns: 1fr;
    }
    .logo{
        height: auto;
    }
    .activites{
        grid-template-rows: auto 10rem 10rem 10rem 10rem 10rem 10rem;
    }
    .presentation{
        grid-template-rows: auto 15rem 15rem 15rem 15rem 15rem 15rem;
    }
    .popsection{
        grid-template-rows: auto 10rem 10rem 10rem;
    }
    .hostimg{
        height: 50%;
    }


    /* Bouton d'info */
    .info i{
        font-size: 1.5em; 
        color:#0065FC; 
        padding: 0;
        padding: 0.3em 0.3em 0 0.55em;
    }
    .result p{
        word-break: inherit;
    }
    .info{
        width: 3em; 
        height: 3em; 
    }


    /* Barre de filtres */
    .filtalone{
        width: 100%;
    }
    .filtres{
        flex-wrap: wrap;
        height: auto;     
    }
    .filtres span{
        width: auto;
        height: 2em;
        line-height: 1.5em;
    }
    .filtres div{
        border-radius: 4em;
    }
    .filtrebutton{
        margin-bottom: 1em;
    }



    /* Barre de recherche */
    .recherche{
        display: flex;
        width: 100%;
    }
    .subfield{
        display: none;
    }
    .loupe{
        display: block;
    }
    .textfield{
        width: 100%;
    }


    /* Haut de page */
    .logo{
        width: 30%;
    }
    .inscription{
        order: 0;
    }
    .hdp{
        flex-wrap: wrap;
    }
    .accueilbox{
        justify-content: space-around;
        width: 100%;
    }
}

@media screen and (min-width: 600px){
    .loupe{
        display: none !important;
    }    
}