html {
    font-family: 'Raleway';
    line-height : 5px;
}
@font-face {
    font-family: 'Raleway';
    src: url('ressources/Raleway-VariableFont_wght.ttf');
}
section, .presentation div, .popular div, .activites div {
    border-radius: 15px;
}
body {
    margin: 0;
}
footer {
    justify-content: space-around;
    padding: 70px;
    text-align: justify;
    line-height: 30px;
}
.presentation, footer, .popular {
    background-color: #F2F2F2;
}
.presentation div, .popular div {
    background-color: white;
    overflow: hidden;
    padding: 5px;
    margin-right: 28px;
    margin-bottom: 29px;
}
article {
    flex-wrap: wrap;
}
.presentation img {
    width: 235px; 
    height: 115px; 
    border-radius: 15px 15px 0 0;
}
.pop {
    font-weight: bold;
}
.test {
    font-weight: bold;
}
.presentation div {
    height: 200px;
    width: 244px;
    box-shadow: 0 0 1em #adadad;
}
.presentation {
    margin-right: 40px;
    flex-direction: column;
    max-width: 880px;
}
.popular {
    max-width: 420px;
}
.popular div {
    justify-content: center;
    height: 145px;
    width: 345px;
    box-shadow: 0 0 1em #adadad;
}
.presentation {
    padding: 40px;
}
.presentation h4, .presentation p{
    margin-left: 15px;
}
header, .essai, .activites{
    padding: 50px;
}
.recherche {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    border-radius: 15px;
    max-height: 50px;
    width: 422px;
    background-color: #F2F2F2;
}
.activites img {
    min-width: 300px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.activites div {
    min-width: 300px;
    width: 20%;
    margin: 0px 40px 0 0;
}
.activites p {
    padding: 30px;
    margin: 0px;
}
img {
    object-fit: cover;
}